body {
    margin: 0;
    height: 100vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: Arial, sans-serif;
}

button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
}

