body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

td {
    padding: 20vh 1vw;
    border: 1px solid black;
}

.left-cell {
    background-color: aqua;
}

.right-cell {
    background-color: gold;
}